@model GameShop.ViewModels.Catalog.Games.GameCreateRequest

@{
    ViewData["Title"] = "Tạo mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
    <div class="container-fluid">
        <h1 class="mt-4">Tạo mới người dùng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
            </div>

            <div class="card-body">
                <div class="col-md-8">
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="GameName" class="control-label"></label>
                            <input asp-for="GameName" class="form-control" />
                            <span asp-validation-for="GameName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" type="number" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" type="number" class="form-control" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select name="GenreId" asp-items="@ViewBag.Categories" class="form-control">
                                <option>--Chọn danh mục--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gameplay" class="control-label"></label>
                            <textarea asp-for="Gameplay" class="form-control" rows="10"></textarea>
                            <span asp-validation-for="Gameplay" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select name="Status" class="form-control">
                                <option>--Chọn danh mục--</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ThumbnailImage" class="control-label"></label>
                            <input asp-for="ThumbnailImage" type="file" class="form-control" />
                            <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                        </div>
                        <div> 
                            <span style="color: blue">System Requirement Minimum </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.OS" class="control-label"></label>
                            <input asp-for="SRM.OS" class="form-control" />
                            <span asp-validation-for="SRM.OS" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.Processor" class="control-label"></label>
                            <input asp-for="SRM.Processor" class="form-control" />
                            <span asp-validation-for="SRM.Processor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.Memory" class="control-label"></label>
                            <input asp-for="SRM.Memory" class="form-control" />
                            <span asp-validation-for="SRM.Memory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.Graphics" class="control-label"></label>
                            <input asp-for="SRM.Graphics"  class="form-control" />
                            <span asp-validation-for="SRM.Graphics" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.Storage" class="control-label"></label>
                            <input asp-for="SRM.Storage" class="form-control" />
                            <span asp-validation-for="SRM.Storage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.AdditionalNotes" class="control-label"></label>
                            <input asp-for="SRM.AdditionalNotes"  class="form-control" />
                            <span asp-validation-for="SRM.AdditionalNotes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRM.Soundcard" class="control-label"></label>
                            <input asp-for="SRM.Soundcard"  class="form-control" />
                            <span asp-validation-for="SRM.Soundcard" class="text-danger"></span>
                        </div>
                        <div>
                            <span style="color: blue">System Requirement Recommended</span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.OS" class="control-label"></label>
                            <input asp-for="SRR.OS"  class="form-control" />
                            <span asp-validation-for="SRR.OS" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.Processor" class="control-label"></label>
                            <input asp-for="SRR.Processor"  class="form-control" />
                            <span asp-validation-for="SRR.Processor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.Memory" class="control-label"></label>
                            <input asp-for="SRR.Memory"  class="form-control" />
                            <span asp-validation-for="SRR.Memory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.Graphics" class="control-label"></label>
                            <input asp-for="SRR.Graphics"  class="form-control" />
                            <span asp-validation-for="SRR.Graphics" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.Storage" class="control-label"></label>
                            <input asp-for="SRR.Storage"  class="form-control" />
                            <span asp-validation-for="SRR.Storage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.AdditionalNotes" class="control-label"></label>
                            <input asp-for="SRR.AdditionalNotes"  class="form-control" />
                            <span asp-validation-for="SRR.AdditionalNotes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SRR.Soundcard" class="control-label"></label>
                            <input asp-for="SRR.Soundcard" class="form-control" />
                            <span asp-validation-for="SRR.Soundcard" class="text-danger"></span>
                        </div>
                       @* <div class="form-group">
                            <label asp-for="Gameplay" class="control-label"></label>
                            <textarea id="txt_details" asp-for="Gameplay" rows="15" class="form-control"></textarea>
                            <span asp-validation-for="Gameplay" class="text-danger"></span>
                        </div>*@
                        
                        <div class="form-group">
                            <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>